{% extends "layout.njk" %}

{% block content %}
    <section class="foodGrid">
        {% for food in foods %}
            <div class="foodContent" id="{{food.id}}">
                <img src="{{food.image}}" alt="">
                <h1 id="burgerH1">{{food.name}}</h1>
                <h2 id="burgerH2">por {{food.author}}</h2>
            </div>
        {% endfor %}
    </section>

<script src="scripts.js"></script>    
{% endblock content %}