{% extends "layout.njk" %}

{% block content %}
    
    <section class="food-context">

            <div class="food-image">
                <img src="{{recipe.image}}" alt="">
            </div>

            
            <div class="food-info">
                <h2>{{recipe.name}}</h2>
                <h3>{{recipe.author}}</h3>
            </div>

            <div class="ingredients">
                <div class="ingredients-title">
                    <h2></h2>
                    <h3></h3>
                </div>
                <p>{{recipe.ingredients}}</p>
            </div>

            <div class="preparation">
                <div class="preparation-title">
                    <h2></h2>
                    <h3></h3>
                </div>
                <p>{{recipe.preparation}}</p>
            </div>

            <div class="information">
                <div class="information-title">
                    <h2></h2>
                    <h3></h3>
                </div>
                <p>{{recipe.information}}</p>
            </div>
           

        

    </section>
    <script src="scripts.js"></script>    

{% endblock content %}