{% extends "layout.njk" %}

{% block content %}

    <section class="food-context" id="{{food.id}}">

            <div class="food-image">
                <img src={{foods.img}} alt="">
            </div>
            <div class="food-info">
                <h2>{{foods.name}}</h2>
                <h3>por {{foods.author}}</h3>
            </div>

            <div class="ingredients">
                <div class="ingredients-title">
                    <h2>Ingredientes</h2>
                    <button class="hide-ingredients">Mostrar</button>
                </div>
                <p class="p-ingredients">{{foods.ingredients}}</p>
            </div>

            <div class="preparation">
                <div class="preparation-title">
                    <h2>Modo de Preparo</h2>
                    <button>Mostrar</button>
                </div>
                <p class="p-preparation">{{foods.preparation}}</p>
            </div>

            <div class="information">
                <div class="information-title">
                    <h2>Informações</h2>
                    <button>Mostrar</button>
                </div>
                <p class="p-information hide">{{foods.information}}</p>
            </div>

    </section>
    <script src="scripts.js"></script>

{% endblock content %}